---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Ayuxay" description="A propos d'ayuxay">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Découvrez mon parcours et mes compétences."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Ayuxay"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						
Jeune monteur vidéo passionné, j’ai déjà eu l’opportunité de travailler sur plusieurs projets variés. J’ai commencé comme beaucoup, en montant mes propres vidéos, un exercice qui me plaisait énormément, mais où je n’aimais pas forcément être au centre de l’attention. C’est pourquoi j’ai rapidement élargi mon horizon en réalisant des montages pour des amis, principalement autour de jeux vidéo et d’animés — tu peux retrouver certains de ces montages sur mes comptes TikTok et Instagram @Ayuxay, où je continue de poster régulièrement à mes heures perdues. 
Cette expérience m’a permis de développer un vrai savoir-faire et une vraie passion pour aider les créateurs à alléger leur charge de travail, en leur fournissant des montages soignés et adaptés à leur univers. Par ailleurs, je partage aussi sur ma chaîne YouTube des vidéos de storytelling, où je mêle narration immersive et analyses approfondies autour de jeux vidéo, pour offrir un contenu riche et captivant.
Si tu cherches quelqu’un de sérieux et motivé pour donner vie à tes idées en vidéo, n’hésite pas à me contacter !
				</div>
			</section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Curieux, Créatif, Organisé, Rigoureux, Ponctuel.  </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
